@*
 *
 * Todo一覧
 *
 *@

@(vv: model.ViewValueTodoList)(implicit request: RequestHeader)
@common.Default(vv){
  <div class="todo-list-header">
    <a class="btn btn--primary" href="@routes.TodoController.register()">新規追加</a>
  </div>
  <ul class="todo-list">
    @for((todo, category) <- vv.todos) {
      <li class="todo-card" style='border-left-color:@category.map(_.color.rgb).getOrElse("#cccccc")'>
        <div class="todo-card__head">
          <span class="todo-card__title">@todo.title</span>
          <span class="status status--@todo.state">@todo.state.name</span>
        </div>
        <p class="todo-card__body">@todo.body</p>
        <div class="todo-card__meta">
          <span class="category-badge"
                style='background-color:@category.map(_.color.rgb).getOrElse("#999999")'>
            @category.map(_.name).getOrElse("カテゴリーなし")
          </span>
          @todo.id.map { id =>
            <span class="todo-card__actions">
              <a class="todo-card__action todo-card__action--edit" href="@routes.TodoController.edit(id)">編集</a>
              <form class="todo-card__delete-form js-delete-form" action="@routes.TodoController.delete(id)" method="post">
                @helper.CSRF.formField
                <button class="todo-card__action todo-card__action--delete" type="submit">削除</button>
              </form>
            </span>
          }
        </div>
      </li>
    }
  </ul>

  @* 削除確認モーダル (todo-list.js が制御) *@
  <dialog id="js-delete-dialog" class="modal">
    <p class="modal__message">このTodoを削除しますか？</p>
    <div class="modal__actions">
      <button type="button" class="btn btn--secondary js-delete-cancel">キャンセル</button>
      <button type="button" class="btn btn--danger js-delete-confirm">削除</button>
    </div>
  </dialog>
}
