@*
 *
 * Todo一覧
 *
 *@

@(vv: model.ViewValueTodoList)
@common.Default(vv){
  <div class="todo-list-header">
    <a class="btn btn--primary" href="@routes.TodoController.register()">新規追加</a>
  </div>
  <ul class="todo-list">
    @for((todo, category) <- vv.todos) {
      <li class="todo-card" style='border-left-color:@category.map(_.color.rgb).getOrElse("#cccccc")'>
        <div class="todo-card__head">
          <span class="todo-card__title">@todo.title</span>
          <span class="status status--@todo.state">@todo.state.name</span>
        </div>
        <p class="todo-card__body">@todo.body</p>
        <div class="todo-card__meta">
          <span class="category-badge"
                style='background-color:@category.map(_.color.rgb).getOrElse("#999999")'>
            @category.map(_.name).getOrElse("カテゴリーなし")
          </span>
        </div>
      </li>
    }
  </ul>
}
